* {
  font-family: 'Lato';
}

body {
  font-size: 16px;
}

#form {
  padding-top: 30px;
}


p {
  font-size: 18px;
  color: #565656;
  font-weight: 700;
}

ion-icon {
  font-size: 80px;
  /* color: rgb(00, 200, 100); */
}

.navbar {
  background-color: #76323F;
  border-bottom: 2px solid rgb(167, 70, 88);
}
.nav-item {
  padding-right: 3px;
}
.navbar-brand {
  font-weight: 700;
  padding-left: 3px;
}

/* .navbar-light .navbar-brand {
  color: red;
}

.navbar-light:hover .navbar-brand:hover {
  color: red;
} */

.errorStatus {
  color: red;
}

.successStatus {
  color: rgb(00, 200, 100);
}

.serviceIcon {
  color: #C09F80;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.serviceIconClicked {
  color: #76323F;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header1 {
  margin-top: 200px;
}

.pic {
  width: 400px;
}

.App {
  text-align: center;
}

/*
#D7CEC7 GRAIN
#565656 BLACKBOARD
#76323F OXBLOOD
#C09F80 TAN
*/

.myButton {
  background-color: #C09F80;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 8px;
  border: 2px solid #D7CEC7;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  /* font-family: 'Open Sans'; */
  font-size: 16px;
  padding: 6px 15px;
  text-decoration: none;
}

.myButton:hover {
  background-color: #D7CEC7;
  border: 2px solid #C09F80;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton:focus {
  outline: 0;
}

.topContainer {
  padding-top: 30px;
}

.form-control:focus {
  background-color: rgb(255, 255, 255);
  border-color: rgb(167, 70, 88);
  outline: 0;
  box-shadow: 0 0 0 0.2rem #76323F;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}