* {
  font-family: "Lato";
}

body {
  font-size: 16px;
  background-color: #1f1f1f;
}

#form {
  padding-top: 30px;
}

p {
  font-size: 18px;
  color: #a77d42;
  font-weight: 700;
}

ion-icon {
  font-size: 80px;
  /* color: rgb(00, 200, 100); */
}

.serviceDate {
  font-size: 22px;
  color: #864a40;
}

.navbar {
  background-color: #864a40;
  /* border-bottom: 2px solid #a5791f; */
}
.nav-item {
  padding-right: 3px;
}
.navbar-brand {
  font-weight: 700;
  padding-left: 3px;
}

.full {
  padding-top: 40px;
}

/* .navbar-light .navbar-brand {
  color: red;
}

.navbar-light:hover .navbar-brand:hover {
  color: red;
} */

.errorStatus {
  color: #9e4131;
}

.successStatus {
  color: #2d5e3d;
}

.serviceIcon {
  padding-bottom: 10px;
  color: #866740;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.serviceIconClicked {
  padding-bottom: 10px;
  color: #864a40;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.serviceIconDisabled {
  padding-bottom: 10px;
  color: #565656;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header1 {
  margin-top: 200px;
}

.pic {
  width: 400px;
}

.App {
  text-align: center;
}

/* Mutted black and red
#D7CEC7 GRAIN
#565656 BLACKBOARD
#76323F OXBLOOD
#C09F80 TAN
*/

/* https://envato.com/blog/holiday-color-palettes-arent-just-red-green/
Vintage Christmas
#a5791f dark gold
#a77d42 medium gold
#cbb080 light gold
#fbf6e8 really light gold
#864a40 mutted red
*/

.myButton {
  /* font-family: "Lato"; */
  /* font-weight: 700; */
  background-color: #864a40;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 8px;
  border: 2px solid #5e332d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  /* font-family: 'Open Sans'; */
  font-size: 16px;
  padding: 6px 15px;
  text-decoration: none;
}

.myButton:hover {
  background-color: #864a40b4;
  border: 2px solid #5e332d;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton:focus {
  outline: 0;
}

.topContainer {
  padding-top: 30px;
}

.form-control {
  /* background-color: rgb(0, 0, 0); */
  margin-top: 12px;
  margin-bottom: 10px;
  /* border-color: #864a40c0; */
  border-color: #864a40;
  box-shadow: 0 0 0 0.1rem #864a40;
}

.form-control:focus {
  /* background-color: rgb(0, 0, 0); */
  border-color: #866740a6;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #866740;
}

/* CUSTOM */
@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?umppzl");
  src: url("./fonts/icomoon.eot?umppzl#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.ttf?umppzl") format("truetype"),
    url("./fonts/icomoon.woff?umppzl") format("woff"),
    url("./fonts/icomoon.svg?umppzl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-DONUT:before {
  content: "\e900";
  font-size: 65px;
}

/* .icon-DONUT {
  font-size: 60px;
} */
